<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="gitlab" value="%CI_API_V4_URL%/groups/8/-/packages/nuget/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="gitlab-ci-token" />
            <add key="ClearTextPassword" value="%CI_JOB_TOKEN%" />
        </gitlab>
    </packageSourceCredentials>
</configuration>